@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tangerine:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #5a052c;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

nav {
    -webkit-box-shadow: 0 4px 2px -2px #420420;
    box-shadow: 0 4px 2px -2px #420420;;
}

nav .brand-logo {
    color: #420420;
    padding-left: 10px;
    font-family:  'Tangerine', cursive;
    font-weight: 700;
    font-size: 3.75rem;
}

nav ul a {
    color: #420420;
    padding: 0 10px;
}

nav a {
    color: #420420;
}

.bg-color {
    background-color: #fafaed;
}

.sub-logo {
    font-size: 2.25rem;
    font-weight: 700;
}

.sidenav {
    background-color: #fafaed;
}

.sidenav-title {
    margin-top: 7px;
    margin-left: 7px;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 4rem;
    padding-left: 5px;   
}

.sidenav-overlay {
    z-index: 1;
}

.sidenav li a {
    font-weight: 600;
    color: #420420;
}

/* Search Bar */

.search-container {
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-top: 2.5rem; 
}

.search-bar {
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

form.search-bar input[type=text] {
    font-size: 1.2rem;
    border-radius: 5px 0 0 5px;
    float: left; 
    width: 70%;
    background-color: rgba(250, 250, 237, 0.7);
    border-bottom: none;
    height: 1.75em;
}

form ::-webkit-input-placeholder {
    color: #5a052c;
    padding-left: 5px;    
}

form ::-moz-placeholder {
    color: #5a052c;
    padding-left: 5px;    
}

form :-ms-input-placeholder {
    color: #5a052c;
    padding-left: 5px;    
}

form ::-ms-input-placeholder {
    color: #5a052c;
    padding-left: 5px;    
}

form ::placeholder {
    color: #5a052c;
    padding-left: 5px;    
}

form.search-bar button {
    padding: 3px 5px 7px 5px;
    background: #420420;
    color: #fafaed;
    font-size: 1.2rem;
    border: 3px solid #420420;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 1.75em;
    -ms-flex-line-pack: center;
    align-content: center;
}

form.search-bar button:hover {
    background-color: #952055;
    border-color: #952055;
}

form.search-bar::after {
    content: "";
    clear: both;
    display: table;
} 

/* Background Images */
.home-image{ 
    background: url("../images/grass_floor.png"); 
}

.profile-image {
    background: url("../images/prague.png")
}

.register-image {
    background: url("../images/chair_book.png")
}

.login-image {
    background: url("../images/sky_book.png")
}

.reviews-image {
    background: url("../images/field_book.png"); 
}

.add-review-image {
    background-image: url("../images/night_book.png");
}

.edit-image {
    background-image: url("../images/tree_book.png")
}

.search-image {
    background: url("../images/sky.png"); 
}

.image-404 {
    background-image: url("../images/blank_page.png");  
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Footer */

.page-footer {
    background-color: #420420;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fafaed; 
}

 body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

  main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

footer .row {
    margin: 0 auto 0 auto;
}

footer p {
    margin: 0 auto 0 auto;
}

/* Flash Messages */

.flash.row {
    background-color: #fafaed;
    margin-bottom: 0;
}

.flash-message {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    line-height: 95%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #5a052c;
}

/* Home Page */

.welcome-container {
  margin: auto;
  background-color: rgba(250, 250, 237, 0.8);
  margin-top: 6rem;
  border-radius: 5px;
}

.title,
.sub-title,
.tagline {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    color: #420420;
    margin-bottom: 0;  
}

.title {
    font-size: 4.5rem;
    margin-top: 1.25rem
}

.sub-title {
    font-size: 3.5rem;
    margin-top: 0;
    line-height: 100%;
}

.tagline {
    margin-top: 0;
    font-size: 2.75rem;
}

.divider-top,
.divider {
    border-bottom: 3px solid #952055;
    border-radius: 3px;
    margin-bottom: .5rem;
}

.divider-top {
    margin-top: 1rem;
}

.divider {
    margin-top: .5rem;
}

.welcome-text {
    font-weight: 400;
    font-size: 1rem;
    margin-top: .75rem;
}

blockquote {
    border-left: none;
    font-weight: 500;
}

.log-btn {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}

/* Profile Page */
.profile-welcome {
    text-align: center;
    margin: 0 auto 0 auto;
    color: #fafaed;
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    text-transform: capitalize;
    margin-top: 0;
}

/* Profile Tabs */

.tab-container {
    margin-top: 1rem;
}

.tabcontent{
    border-radius: 0 0 5px 5px;
}

.tab-container .row {
    margin: 0 auto 0 auto;
}

.tab {
    overflow: hidden;
    background-color: rgba(250, 250, 237, 0.7); 
    border-radius: 5px 5px 0 0;
}

.tab button {
  background-color: inherit; 
  float: left; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.tab button:hover {
  background-color: #952055;
  color: #fafaed;
}

.tab button.active {
  background-color: #420420;
  color: #fafaed;
}

.tab-heading {
    margin: 0 auto 0 auto;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgba(250, 250, 237, 0.7);
  margin-bottom: 10px;
}

.profile-btn {
    margin-bottom: 5px;
}

.delete {
    margin-top: 2rem;
}

/* Forms */

.form-container {
    margin-top: 1.5rem;
    margin-left:.5rem;
    margin-right:.5rem;
}

.form-bg-color {
    background-color: rgba(250, 250, 237, 0.6); 
    border-radius: 5px;
}

.collapsible {
    border: 0;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.collapsible-header {
    background-color: rgba(250, 250, 237, 0.1);
    padding: 7px 5px 10px 10px;
    font-weight: 700;
    border: 0;
}

.collapsible-body {
    padding: 5px;
    border-bottom: 0;
    font-weight: 600;
    background-color: rgba(250, 250, 237, 0.3) ;
}

textarea {
    border: 0;
    padding: 0;
}

.profile-collapsible {
    margin-top: 10px;
}

.no-btm-margin {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.login-form {
    margin-top: 2rem;
}

.login {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-text {
    font-weight: 500;
}

.form-link {
    color: #952055;
    font-weight: 500;
}


/* Form Headings */

.form-heading {
    color: #fafaed;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

/* Inputs */

.input-field .prefix.active {
    color: #952055;
}

.input-field label {
    color:#5a052c;
    font-weight: 600;
}

form .row,
.input-field {
    margin: 12px auto 12px auto;
}

.input-field {
    height: 2.3rem;
}

textarea:not(.browser-default):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label {
    color: #952055;
}

textarea:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #952055;
    -webkit-box-shadow: none;
            box-shadow: none;
}

textarea:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default) {
    border-bottom: 1px solid #5a052c;
}

textarea.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default),
input.valid[type=url]:not(.browser-default),
input.valid[type=password]:not(.browser-default),
input.valid[type=email]:not(.browser-default) {
    border-bottom: 1px solid #420420;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Form Buttons */

.login-btn {
    margin-top: 1.25rem;
}

.btn-small {
    background-color: #420420;
    color:#fafaed;
    border-radius: 3px;
}

.btn-small:focus,
.btn-small:active,
.btn-small:visited {
    background-color: #420420; 
}

.btn-small:hover {
    background-color: #952055;
}

.add-review-btn {
    margin-bottom: 1rem;
}

.save-btn {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

/* Star Rating */

.rating-container {
    line-height: 1;
}

.rating { 
    direction: rtl;
    text-align: center;
    position: relative;
}

.radio-btn {
    text-align: center;
}

.rating > label {
    float: right;  
    display: inline;
    padding: 0;
    margin: 0 7px 0 0 ;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: grey;
    font-size: 1.8rem;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: #ffd700;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    font-family: 'Font Awesome 5 Free'; 
    content: "\f005"; 
    font-weight: 600;
    position: absolute;
    left: 0; 
    color: #ffd700;
}

/* Reviews */

.mobile-reviews-btn {
    background-color: #420420;
    color:#fafaed;
    border-radius: 3px;
    margin-right: 5px;
}

.mobile-reviews-btn:focus,
.mobile-reviews-btn:active,
.mobile-reviews-btn:visited {
    background-color: #420420;
}

.mobile-reviews-btn:hover {
    background-color: #952055;
}

.clear-btn {
    margin-right: 3rem;  
    padding: 0 7px 10px 7px;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    height: 1.75em;
    -ms-flex-line-pack: center;
    align-content: center;
}

.reviews {
    width: 50%;
    margin: auto;
    background-color: rgba(250, 250, 237, 0.7);
    border-radius: 3px;
}

.profile-book-cover,
.book-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .625rem;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.book-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #5a052c;
}

.book-info {
    margin-bottom: 7px;
    font-weight: 600;
}

.review-rating {
    margin-bottom: 5px;
    margin-top: 5px;
}

.mobile-btn {
    margin-bottom: 5px;
    margin-right: .7rem;
}

.buy-btn {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* Heart Checkbox */

.broken-heart-checkbox,
.heart-checkbox {
    margin-bottom: 5px;
}

.broken-heart-checkbox input[type='checkbox'], 
.heart-checkbox input[type='checkbox'] {
    display: none;
}

.heart-checkbox input[type='checkbox']+ label:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f004";
	font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.broken-heart-checkbox input[type='checkbox']+ label:before {
    content: "\1F494";
	font-size: 1.5rem;
    cursor: pointer;
 }


.broken-heart-checkbox input[type='checkbox']:checked + label:before,
.heart-checkbox input[type='checkbox']:checked + label:before {
     font-weight:600;
}

.broken-heart-checkbox label,
.heart-checkbox label {
     color: #5a052c;
     font-weight: 500;
}


/*Scroll Up Btns*/

#scrollToTopMUsers,
#scrollToTopProfile,
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 3.5rem; 
    background-color: #420420;
    border: 1px solid #420420;
    border-radius: 5px;
    color: #fafaed;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 99;
    border: none;
    outline: none;
}

#scrollToTopMUsers,
#scrollToTop {
    right: 5rem;
}

#scrollToTopProfile {
    right: 10rem;
}

#scrollToTopProfile:focus,
#scrollToTopProfile:active,
#scrollToTopProfile:visited,
#scrollToTop:focus,
#scrollToTop:active,
#scrollToTop:visited {
    background-color: #420420;
}

#scrollToTopProfile:hover,
#scrollToTop:hover {
    background-color: #952055;
}

#scrollToTopProfile i,
#scrollToTop i {
    font-size: 1.75rem;
}

/* Search Mobile */

.mobile-search-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    background-color: rgba(250, 250, 237, 0.8);
    border-radius: 5px;
}
.search-heading {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #420420;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 100%;;
}

.search-text {
    font-weight: 500;;
}

.search-btn {
    margin-bottom: .675rem;
    margin-top: 1.25rem;
}

/* Manage Users */

.manage_users {
    background-color: #d9ccd2;
}

.delete-btn {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/*404.html*/

.f404 {
    margin: auto;
    margin-top: 5rem;
    width: 60%;
    background-color: rgba(250, 250, 237, 0.8);
}

.f404-heading{
    padding-top: 1rem;
    padding-bottom: 1.875rem;
    margin-bottom: 0;
    margin-top: 1rem;   
    font-weight: 700;
}

.sub-404 {
    font-size: 7rem;
    margin-bottom: .625rem;
    padding-top: .625em;
}

.p404 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 0;
}

.btn-404 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    background-color: #420420;
    padding-bottom: .625rem;
    padding-top: 6px;
    border-radius: 5px;
    height: 3.125rem;
}

.btn-404:focus,
.btn-404:visited {
    background-color: #420420;
}

.btn-404:hover {
    background-color: #952055;
}

/* Media Queries */
/* Laptop */
@media only screen and (max-width: 1024px) {
    .clear-btn {
        margin-right: 2rem;
    }

}

/* Tablet */
@media only screen and (max-width: 992px) {
    .clear-btn {
        margin-right: 0;
    }

    .rating > label {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .welcome-container {
        margin-top: 6rem;
    }
}

/* Mobile devices */
@media only screen and (max-width: 736px) {
    /* Navbar */
    nav .brand-logo {
        padding-top: 5px;
        padding-left: 1.75rem;
        font-size: 2.5rem;
        left: 20%;
    }
    /* Home Page */
    .welcome-container {
        margin-top: 2rem;
    }

    .title {
        font-size: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: normal;
    }

    .sub-title {
        font-size: 2.5rem;
        line-height: normal;
    }

    .tagline {
        font-size: 2rem;
        line-height: normal;
    }

    /* Reviews */
    .reviews {
        width: 80%;
    }

    .review-btn-container {
        text-align: center;
    }

    .book-cover {
        margin-right: 30px;
        margin-top: 7px;
    }

    #scrollToTopMUsers,
    #scrollToTopProfile,
    #scrollToTop {
        right: 1rem;
    }

    #scrollToTopMUsers i,
    #scrollToTopProfile i,
    #scrollToTop i {
    font-size: 1rem;
    }

    /* Profile */
   .profile-welcome{
        margin-top: 2rem;
    } 

    .tab-container {
        margin-top: 1.5rem;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    /* Tabs */
    .tab button {
        padding: 10px 20px; 
    }

    .find-btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* Forms */
    .form-heading {
        font-size: 2.5rem;
    }

    .form-container {
        margin: .7rem
    }

    textarea:not(.browser-default),
    input[type=text]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default) {
        font-size: .9rem;
    }

    /* 404.html */
    .f404 {
        width: 90%;
        margin-top: 1.5rem;   
    }
    
    .p404 {
        font-size: 1.25rem;
        margin-bottom: 0;
        font-weight: 500;
    }

    .f404-heading {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    .btn-404 {
        margin-bottom: 1.25rem;
        margin-top: 1rem;
    }

    .sub-404 {
        font-size: 6rem;
        margin-bottom: 7px;
    }

}