{% extends "base.html" %}

{% block content %}

<main class="bg-image edit-image responsive-img"> 

<!-- Page Heading -->  
    <div class="no-btm-margin row center-align">
        <div class="col s10 offset-s1 m6 offset-m3">
              <h1 class="form-heading">Edit Review</h1>  
        </div>
    </div>

<!--Edit Review Form-->
    <div class="row form-container">
        <form class="col s12 form-bg-color m6 offset-m3" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">
                 <div class="input-field col s12">
                    <input  id="title" name="title" type="text" value="{{ review.title }}" class="validate" required>
                    <label  for="title">Title</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field col s12">
                    <input  id="author" name="author" type="text" value="{{ review.author }}" class="validate" required>
                    <label  for="author">Author</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field col s12">
                    <input id="genre" name="genre" type="text" value="{{ review.genre }}" class="validate" required>
                    <label for="genre">Genre</label>
                </div>
            </div>
   
            <div class="row">
                <div class="input-field col s12">
                    <input id="published" name="published" type="text" value="{{ review.published }}" class="validate" required>       
                    <label for="published">Published</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field col s12">
                    <input id="cover" name="cover" type="url" value="{{ review.cover }}" class="validate" required>
                    <label for="cover">Cover Image Link</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field col s12">
                    <input id="buy" name="buy" type="url" value="{{ review.buy }}" class="validate" required>
                    <label for="buy">Buy Link</label>
                </div>
            </div>
    
            <div class="row">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Synopsis <i class="fas fa-angle-down"></i></div>
                        <div class="collapsible-body">
                            <textarea id="synopsis" name="synopsis" minlength="5" class="materialize-textarea validate" required>
                        {{- review.synopsis -}}
                            </textarea>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Review <i class="fas fa-angle-down"></i></div>
                        <div class="collapsible-body">
                            <textarea id="review" name="review" minlength="5" class="materialize-textarea validate" required>
                        {{- review.review -}}
                            </textarea>
                        </div>
                    </li>
                </ul>    
            </div>
                   
            <div class="row txt-center">
                <div class="rating col s8 offset-s2 m6 offset-m3 l4 offset-l4">
                    <input id="star5" name="star" type="radio" value="&#11088; &#11088; &#11088; &#11088; &#11088;" class="radio-btn hide" />
                        <label for="star5"><i class="fas fa-star"></i></label>
                    <input id="star4" name="star" type="radio" value="&#11088; &#11088; &#11088; &#11088;" class="radio-btn hide" />
                        <label for="star4"><i class="fas fa-star"></i></label>
                    <input id="star3" name="star" type="radio" value="&#11088; &#11088; &#11088;" class="radio-btn hide" />
                        <label for="star3"><i class="fas fa-star"></i></label>
                    <input id="star2" name="star" type="radio" value="&#11088; &#11088;" class="radio-btn hide" />
                        <label for="star2"><i class="fas fa-star"></i></label>
                    <input id="star1" name="star" type="radio" value="&#11088;" class="radio-btn hide" />
                        <label for="star1"><i class="fas fa-star"></i></label>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="row center-align">
                <div>
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small">
                        Cancel
                    </a>
                    <button class="btn-small save-btn" type="submit">
                        Save
                    </button>
                </div>
            </div>            
        </form>
    </div>
    
</main>

{% endblock %}