{% extends "base.html" %}

{% block content %}

<main class="bg-image register-image responsive-img">
  
<!-- Page Heading -->  
    <div class="row no-btm-margin center-align">
        <div class="col s10 offset-s1 m6 offset-m3">
              <h1 class="form-heading">Register</h1>  
        </div>
    </div>

    <!-- Register Form-->
    <div class="row login-form form-container">
        <form class="col s10 offset-s1 m6 offset-m3 form-bg-color" method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s6">
                    <input  id="firstname" name="firstname" type="text" class="validate" required>
                    <label  for="firstname">First Name</label>
                </div>
                <div class="input-field  col s6">
                    <input id="lastname" name="lastname" type="text" class="validate" required>
                    <label for="lastname">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input  id="username" name="username" type="text" class="validate" required>
                    <label  for="username">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="row center-align">
                <div class="col s12 m6 offset-m3">
                    <button type="submit" class="btn-small login-btn">
                            Register
                    </button>
                       <p class="center-align form-text">
                            Already Registered?
                        <a href="{{ url_for('login') }}" class="form-link">Log In</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
    
</main>


{% endblock %}