{% extends "base.html" %}

{% block content %}

<main class="bg-image search-image responsive-img">

<!-- Search Box -->
    <div class="mobile-search-container center-align">
        <div class="row">
            <div class="col s12">
                <h4 class="search-heading">Come with me and you'll be in a world of pure imagination...</h4>
            </div>  
                <div class="col s2 offset-s5 divider-top"></div>
                    <div class="col s12">
                        <p class="search-text">Not sure what to read next?? Browse the reviews left 
                            by our community and see what tickles your fancy! Like reviews by a member? Search their username!
                        <br> Your next adventure awaits!</p>

                        <form action="{{ url_for('search') }}" method="post">
                            <div class="row">
                                <div class="input-field search col s12">
                                    <i class="fas fa-search prefix"></i>
                                    <input type="text" name="search" id="search" class="validate" required>
                                        <label for="search">Enter Author, Title, Genre</label>    
                                </div> 
                                <div>
                                    <button type="submit" class="btn-small search-btn"><i class="fas fa-search left"></i>Search</button> 
                                </div>
                            </div>
                        </form>
                    </div>
        </div> 
    </div>

</main>
{% endblock %}